<!DOCTYPE html> 
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


    <div id="app">

        <div class="container">
            <form v-if="!submitted" class="mt-5">
                <div class="form-group">
                    <label for="email">Email</label>
                    <!-- <input type="email" class="form-control form-control-lg" v-bind:value="email"> ONE WAY DATABINDING -->
                    <!-- <input type="email" class="form-control form-control-lg" v-model="email"> TWO WAY BINDING --> 
                    <input type="email" class="form-control form-control-lg" v-model="email">

                </div>
                <!-- <button type="submit" v-on:click="process" class="btn btn-primary">SUBMIT</button> -->
                <button type="submit" @click="process" class="btn btn-primary">SUBMIT</button>
            </form>

            <h2 v-if="submitted" class="mt-5">{{response}}</h2> 
            <!-- string interpolation -->            
        </div>
    
    </div>
    
    <div id="api">
        <h1>NASA STUFF</h1>
        <div class="container">
            <h2>{{imgTitle}} </h2>
            <img :src="imgSrc" :title="imgTitle" />
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script>
    
        var vm = new Vue({
            el: "#app", 
            data: {
                response: 'Your form ahs been submitted!',
                email: 'mike@example.com', 
                submitted: false,
            }, 
            methods: {
                process: function(event) {
                    event.preventDefault();
                    alert('submitted ' + this.email);
                    this.submitted = true;
                }
            }
        })

        var vm2 = new Vue({
            el: '#api', 
            data: {
                imgSrc: '',
                imgTitle: ''
            }, 

            created: function () {
                this.fetchApod();
            },

            methods: {
                fetchApod: function () {
                    var apiKey = 'tRf5iI6FRxbFtUWveSXAzXo4wTwnmEgcuOf1U8hn';
                    var url = 'https://api.nasa.gov/planetary/apod?api_key=' + apiKey;

                    axios.get(url)
                    .then(function (res) {
                        vm2.imgSrc = res.data.url; 
                        vm2.imgTitle = res.data.title;
                    });
                }
            }
        });

        
    </script>


</body>

</html>